.movie-details {
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: cover; */
    height: 100%;
    width: 100%;
}

.movie-details-row {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(1, 18, 48, 1) 0%, rgba(1, 18, 48, .5) 30%, rgba(1, 18, 48, .5) 50%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    /* padding-top: 350px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
}
.hidden{
    display: none;
}

.top-row {
    height: 100%;
    color: #fff;
    padding: 0 0 10px 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.top-inside-row {
    height: 400px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.inside-top-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 60%;
}

.inside-top-row>p {
    color: #7c8bba;
    text-transform: uppercase;
}

.genre-style {
    border: 1px solid #233d6d;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 20px 0 0;
    color: #7c8bba;
    display: flex;
}

.book-btn {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 25px !important;
    width: auto;
    padding: 0 50px !important;
    min-height: 50px;
    text-transform: uppercase;
    font-size: 20px !important;
    font-weight: 700 !important;
    border: 0 !important;
    color: #fff;
}

.datetime-row {
    margin-top: 20px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    color: #7c8bba;
}

.datetime-col {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.btn-close {
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e) !important;
}